body{
    margin: 0;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.nav{
    width: 100%;
    height: 100px;
   
    display: flex;
    margin-bottom: 1px ;
    border-bottom: 1px solid black ;
    
}
.img_div{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 38%;
}

.link_left{
    justify-content: start;
   
    display: flex;
    height: 100px;
    justify-content: space-between;
   
    align-items: center ;
    width: 45%;
}
.link-left-child{
    cursor: pointer;
    height: 50%;
    display: flex;
    
    justify-content: space-around;
    width: 50%;
}
.link-left-child:hover{
    color: rgb(13, 104, 13);
}
.link-right-child{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.link_right{

    align-items: center ;
    display: flex;
    justify-content: end;
    width: 45%;
}

.sign{
    cursor: pointer;
    border-radius: 20px;
    width: 26%;
    height: 61%;
    background-color: white;
}
.sign:hover{
   background-color: rgb(224, 224, 224);
}
.join:hover{
    background-color:rgb(45, 45, 45);
 }
.join{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 26%;
    height: 61%;
}
.find_store{
    cursor: pointer;
}
.find_store:hover{
    color: rgb(13, 104, 13);
}
.section1{
    background-color:#d4e9e2;
    width:100%;
    height: 500px;
    display: flex;
}
.para1{
    width: 100%;
    padding-left: 40px;
    padding-top: 40px;
    align-items: center;
    vertical-align: middle;
}
.pic11{
    width: 50%;
    height: 478px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    font-size: 24px;
}
h3{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
}
.link-accounts{
    cursor: pointer;
    background-color: #d4e9e2;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    text-align: center;
}
.link-accounts:hover{
    background-color: rgb(197, 182, 182);
}
.mar{
    margin: 30px;
}
.section2 {
    margin-top: 20px;
    background-color: #006241;
    width:100%;
    height: 500px;
    display: flex;
}
.pic21{
    width: 50%;
    order: 2;
}
.para2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 1.75;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
}
.buy{
    cursor: pointer;
    background-color: #006241;
    border-width: 1px;
    border-radius: 60px;
    border-color: #ffffff;
    padding: 7px 16px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.buy:hover{
    background-color:#0a7b55;
}
.section3 {
    margin-top: 20px;
    background-color: #006241;
    width:100%;
    height: 500px;
    display: flex;
}
.pic31{
    width: 100%;
}
.para3{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 1.75;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
}
.big{
    font-size: 50px;
}
.order{
    cursor: pointer;
    background-color: #006241;
    border-width: 1px;
    border-radius: 60px;
    border-color: #ffffff;
    padding: 7px 16px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.orde:hover{
    background-color:#0a7b55;
}
.section4 {
    margin-top: 20px;
    background-color: #006241;
    width:100%;
    height: 500px;
    display: flex;
}
.pic41{
    width: 100%;
    order: 2;
}
.para4{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 1.75;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
}
.learn{
    cursor: pointer;
    background-color: #006241;
    border-width: 1px;
    border-radius: 60px;
    border-color: #ffffff;
    padding: 7px 16px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.learn:hover{
    background-color:#0a7b55;
}
.section5 {
    margin-top: 20px;
    background-color: #006241;
    width:100%;
    height: 500px;
    display: flex;
}
.pic51{
    width: 100%;
}
.para5{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    line-height: 1.75;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
}
.lastpara{
    text-align: center;
    padding-top: 30px;
    justify-content: center;
    font-weight: lighter;
}
.bottom{
    border-top: 1px solid black ;
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
}
ul{
    list-style:none ;
}
.bo{
    font-weight: lighter;
    color: rgba(0,0,0,.58);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: pointer;
}
.bot{
    font-weight: lighter;
}
.foot{
    display: flex;
    padding-left: 30px;
}
.f{
    font-weight: lighter;
    padding: 10px;
}
.fo{
    padding-left:30px ;
    font-weight: lighter;
}
.social-media{
    width: 100%;
}
.social-icons{
    
    width: 22%;
    justify-content: space-evenly;
    display: flex;
}
.social-media-list{
    width: 98%;
   
}
.icon{
    font-size: xxx-large;
}